<main>
  <section id="section-login">
    <form (ngSubmit)="fazerLogin()">
      <div>
        <label for="usuario">Login</label>
        <input name="usuario" required type="text" [(ngModel)]="usuario">
        <br>
        <label for="password">Senha</label>
        <input name="password" type="password" [(ngModel)]="senha">
      </div>
      <button type="submit">Login</button>
    </form>
  </section>
</main>



<!-- <main>
  <section id="section-login">
    <form (ngSubmit)="fazerLogin">
      <div>
        <label for="usuario">Login</label>
        <input name="usuario" required type="text" [(ngModel)]="usuario">
        <br>
        <label for="password">Senha</label>
        <input name="password" type="password" [(ngModel)]="senha">
      </div>
      <button (click)="fazerLogin()">Login</button>
    </form>
  </section>
</main> -->



